
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">jdbc:mysql:///smart_home</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">true</property>
	<property name="hibernate.c3p0.max_size">50</property>
	<property name="hibernate.c3p0.min_size">3</property>
	<property name="hibernate.c3p0.acquire_increment">1</property>
	<property name="hibernate.c3p0.maxIdleTime">18000</property>
	<property name="hibernate.c3p0.idle_test_period">25000</property>
	<property name="hibernate.c3p0.preferredTestQuery">select 1</property>
    <property name="hibernate.c3p0.idleConnectionTestPeriod">18000</property>
    <property name="hibernate.c3p0.acquireRetryAttempts">3</property>
    <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
	<property name="hibernate.c3p0.timeout">60</property>
	<property name="hibernate.c3p0.validate">true</property>
	<!--misp po configration -->
	<mapping resource="cn/fuego/misp/domain/SystemUser.hbm.xml" />
	<mapping resource="cn/fuego/misp/domain/SystemMenu.hbm.xml" />
	<mapping resource="cn/fuego/misp/domain/Privilege.hbm.xml" />
	<mapping resource="cn/fuego/misp/domain/SystemIDType.hbm.xml" />
	<mapping resource="cn/fuego/misp/domain/OperLog.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/News.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/HomeSensor.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/ServiceOrder.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/UserConcentrator.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/HomeAlarmView.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Alarm.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/FireAlarmView.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/FireSensor.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Concentrator.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/UserMark.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Customer.hbm.xml" />
	<mapping
		resource="cn/fuego/smart/home/domain/ClientVersion.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/SensorType.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/SensorPlan.hbm.xml" />
	<mapping
		resource="cn/fuego/smart/home/domain/Advertisement.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/AlarmType.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/CheckItem.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/CheckLog.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Company.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Knowledge.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Product.hbm.xml" />
	<mapping resource="cn/fuego/smart/home/domain/Building.hbm.xml" />




</session-factory>
</hibernate-configuration>
<!--
   注意hibernate.cfg.xml文件的路径 要放在src下面 要不然找不到该文件？？
   因为这个文件是hibernate 自动加载的 要是路径不对的话 就会找不到该文件。。 
 -->