<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fuego.smart.home"
    android:installLocation="internalOnly"
    android:versionCode="106"
    android:versionName="1.0.6" >

    <permission
        android:name="cn.fuego.smart.home.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="cn.fuego.smart.home.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 向SD卡中写入东西权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 在SD卡中创建和删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>  
    <!-- 后台自启动. -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!--share SDK required  -->
    
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:name=".SmartHomeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppBaseTheme"    >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.setting.service.ServiceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.setting.service.ServiceApplyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.setting.user.UserManageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.setting.user.UserInfoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.base.ExitApplication"
            android:label="@string/app_name" >
        </activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.fuego.smart.home" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="cn.fuego.smart.home" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="cn.fuego.smart.home.ui.jpush.MyReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.fuego.smart.home" />
            </intent-filter>
        </receiver>
		<!--share SDK required  -->
		<activity
		 android:name="cn.sharesdk.framework.ShareSDKUIShell"
		 android:theme="@android:style/Theme.Translucent.NoTitleBar"
		 android:configChanges="keyboardHidden|orientation|screenSize"
		 android:screenOrientation="portrait"
		 android:windowSoftInputMode="stateHidden|adjustResize" >
		 <intent-filter>
		 <data android:scheme="tencent100371282" />
		 <action android:name="android.intent.action.VIEW" />
		 <category android:name="android.intent.category.BROWSABLE" />
		 <category android:name="android.intent.category.DEFAULT" />
		 </intent-filter>
		 </activity>
		 <!--微信分享回调 -->
		 <activity
		 android:name=".wxapi.WXEntryActivity"
		 android:theme="@android:style/Theme.Translucent.NoTitleBar"
		 android:configChanges="keyboardHidden|orientation|screenSize"
		 android:exported="true"
		 android:screenOrientation="portrait" /> 

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="cn.fuego.smart.home.ui.common.about.AboutUsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ui.setting.upgrade.UpgradeActivity" >
        </activity>


        <!-- 播放告警音服务 -->
        <service android:name=".service.AlarmSoundService" />

        <activity
            android:name=".ui.enterprise.alarm.FireAlarmActivity"
            android:label="@string/title_activity_fire_alarm" >
        </activity>
        <activity
            android:name=".ui.enterprise.alarm.FireAlarmViewActivity"
            android:label="@string/title_activity_fire_alarm_view" >
        </activity>
        <activity
            android:name=".ui.enterprise.check.CheckActivity"
            android:label="@string/title_activity_check" >
        </activity>

        <activity
            android:name=".ui.enterprise.company.CompanyViewActivity"
            android:label="@string/title_activity_company_info" >
        </activity>
        <activity
            android:name=".ui.enterprise.company.CompanyListActivity"
            android:label="@string/title_activity_company_list" >
        </activity>
        <activity
            android:name=".ui.enterprise.check.CheckLogActivity"
            android:label="@string/title_activity_check_log" >
        </activity>
        <activity
            android:name=".ui.enterprise.check.CheckOperateActivity"
            android:label="@string/title_activity_check_operate" >
        </activity>

        <activity
            android:name=".ui.common.knowledge.CommonSenseActivity"
            android:label="@string/title_activity_common_sense" >
        </activity>
        <activity
            android:name=".ui.common.knowledge.ContentViewActivity"
            android:label="@string/title_activity_content_view" >
        </activity>
        <activity
            android:name=".ui.common.mall.ProductMallActivity"
            android:label="@string/title_activity_product_mall" >
        </activity>
        <activity
            android:name=".ui.common.mall.ProductViewActivity"
            android:label="@string/title_activity_product_view" >
        </activity>
        <activity
            android:name=".ui.enterprise.alarm.DeviceStatusActivity"
            android:label="@string/title_activity_device_status" >
        </activity>
        <activity
            android:name="cn.fuego.misp.ui.common.upload.MispUploadImgActivity"
            android:label="@string/title_activity_misp_upload_img" >
        </activity>
        <activity
            android:name=".ui.enterprise.alarm.SensorLocationActivity"
            android:label="@string/title_activity_product_view" >
        </activity>
        <activity
            android:name="cn.fuego.misp.ui.common.upload.SelectPicActivity"
            android:theme="@style/DialogStyleBottom" />
        
                
                
         <!-- Required  . Enable it you can get statistics data with channel .jPush-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="97c0f1c1744eacef02d529c1" />
        <!-- </>值来自开发者平台取得的AppKey -->

    </application>

</manifest>
